/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

/* fonts */
@font-face {
  font-family: "l-spartan";
  src: url("./resources/leaguespartan-bold-webfont.woff2") format("woff2"),
    url("./resources/leaguespartan-bold-webfont.woff") format("woff");
}

/* basic style */
body {
  font-family: "l-spartan";
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-block: 20px;
  background-color: #f2f3f5;
  border-bottom: 4px solid #2c8f79;

  & > .nav-logo {
    max-width: 70px;
  }

  & > .nav-title {
    font-size: 40px;
    color: #374958;

    & > span {
      color: #2c8f79;
    }
  }
}

.container {
  background-color: #f2f3f5;
  min-height: 100vh;
  display: flex;

  & > .left-side-container {
    background-color: white;
    flex: 0 0 400px;
    color: #374958;

    & > ul {
      margin: 30px 24px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      &.project-container {
        & > span {
          font-size: 28px;
          border-bottom: 3px solid #2c8f79;
        }

        & > .add-project-btn {
          background-color: unset;
          border: unset;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 6px 10px;
          margin-top: 10px;

          &:hover {
            background-color: #737d8559;
          }

          & > img {
            width: 36px;
          }
        }
        > .projects {
          display: flex;
          flex-direction: column;
          gap: 15px;
          & > li {
            list-style: none;
            position: relative;
            padding-left: 50px;

            &::before {
              content: "";
              position: absolute;
              left: 8px;
              width: 32px; /* Width of the image */
              height: 32px;
              background-image: url("./resources/folder.svg"); /* Path to the image */
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }
      }

      & li {
        list-style: none;
        font-size: 16px;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
          background-color: #737d8559;
        }

        > img {
          width: 32px;
        }
      }
    }
  }

  & > .right-side-container {
    padding: 40px 30px;
    flex: 1 0;

    & > .container-title {
      background-color: #2c8f79;
      color: white;
      font-size: 36px;
      padding: 10px;
    }

    & > .add-task-btn {
      background-color: unset;
      border: unset;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 6px 10px;
      margin-top: 10px;

      &:hover {
        background-color: #737d8559;
      }

      & > img {
        width: 36px;
      }
    }

    & > .tasks {
      & > li {
        display: flex;
        align-items: center;
        & > img {
          width: 32px;
        }
      }
    }
  }
}

footer {
  background-color: red;
}

/* utility classes to manipulate styles from js */

.active {
  background-color: #50f1cf7a;
  border-left: 3px solid #2c8f79;

  &:hover {
    background-color: #50f1cf7a !important;
  }
}
